/debian/.debhelper
/debian/tmp
/debian/system76-power
/.cargo/
/debian/files
/target/
/vendor/
vendor.tar
vendor.tar.xz

# makepkg build artifacts
/pkg/
/powercurve/
/src/powercurve/
/system76-power-custom/
*.pkg.tar.zst
*.pkg.tar.xz
*.tar.gz

# MemPalace per-project files (issue #185)
mempalace.yaml
entities.json
