[Unit]
Description=PowerCurve Daemon

[Service]
ExecStart=/usr/bin/powercurve daemon
ExecReload=kill -HUP $MAINPID
ExecStopPost=/bin/sh -c 'for f in /sys/class/hwmon/hwmon*/pwm*_enable; do [ -f "$f" ] && echo 2 > "$f"; done; true'
Restart=on-failure
Type=dbus
BusName=com.vintagetechie.PowerCurve

[Install]
WantedBy=multi-user.target
Alias=powercurve.service