[Unit]
Description=VintageTechie Power Daemon

[Service]
ExecStart=/usr/bin/vintagetechie-power daemon
Restart=on-failure
Type=dbus
BusName=com.vintagetechie.PowerDaemon

[Install]
WantedBy=multi-user.target
Alias=vintagetechie-power.service